/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animation */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.animate-fadeInOut {
    animation: fadeInOut 4s ease-in-out infinite;
}
